*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    outline: 0px solid black;
}

/* position and appearance for cover on top */
.cover{
    background-color: rgb(225, 225, 225);
    box-shadow: 3px 3px 10px gray;
    padding: 250px;
    height: 100%;
    width: 100%;
    background-image: url(../images/main/background2.jpg);
    background-repeat: no-repeat;
    background-size: auto; 
    background-position: center;
    overflow: hidden;
    text-align: center;
}

/* position and appearance for content on left side */
.profilePic{
    background-image: url(../images/bio/profilePic.jpg);
    background-repeat: no-repeat;
    background-size: 200%; 
    background-position: -90px -40px;
    overflow: hidden;
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    width: 200px;
    height: 200px;
    border-radius: 150px;
}

.profileName{
    margin-top: 10px;
    margin-left: 105px;
}

.socials{
    margin-top: 5px;
    margin-left: 165px;
}

.socialIcons{
    margin-top: 7.5px;
    margin-left: 142px;
}

.socialLink{
    display: inline-block;
    list-style: none;
    height: 25px;
    width: 25px;
    margin-left: 22.5px;
    margin-bottom: 100px;
}

/* position and appearance for content on right side */
#contentRight{
    margin-top: -450px;
    margin-left: 440px;
    margin-right: 150px;
    margin-bottom: 50px;
}

#contentRight>h1{
    font-size: 50px;
}

#contentRight>p{
    font-size: 25px;
}


/* positions and appearance of left and right size when narrowed */
@media(max-width: 1000px){
    .profilePic,.profileName{
        margin-left: 40%;
        margin-right: 40%;
    }

    .socials,.socialIcons,.socialLink{
        display: none;
    }

    #contentRight{
        width: 100%;
        margin-top: 20px;
        margin-left: 0%;
        margin-bottom: 50px;
        text-align: center;
    }
}

@media(max-width: 900px){
    .profilePic,.profileName{
        margin-left: 37.5%;
        margin-right: 37.5%;
    }
}

@media(max-width: 700px){
    .profilePic,.profileName{
        margin-left: 35%;
        margin-right: 35%;
    }
}

@media(max-width: 600px){
    .profilePic,.profileName{
        margin-left: 32.5%;
        margin-right: 32.5%;
    }

    #contentRight>h1{
        font-size: 40px;
    }
    
    #contentRight>p{
        font-size: 20px;
    }
}

@media(max-width: 500px){
    .profilePic,.profileName{
        margin-left: 30%;
        margin-right: 30%;
    }

    #contentRight>h1{
        font-size: 35px;
    }
    
    #contentRight>p{
        font-size: 15px;
    }
}

@media(max-width: 400px){
    .profilePic,.profileName{
        margin-left: 22%;
        margin-right: 22%;
    }

    #contentRight{
        width: 100%;
        margin-top: 20px;
        margin-left: 0%;
        margin-bottom: 50px;
        text-align: center;
    }
}