*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-style: italic;
}

@keyframes slideDown{
    0%{
        margin-top: -30%;
    }
    100%{
        margin-top: 75px;
    }
}

/* position and appearance for cover on top */
.cover{
    animation: slideDown 1s 1;
    background-color: rgb(225, 225, 225);
    box-shadow: 3px 3px 10px gray;
    margin-top: 75px;
    padding: clamp(5vh, 10vh, 15vh);
    background-image: url(../images/main/background10.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    overflow: hidden;
    text-align: center;
}

/* position and appearance for content on left side */
.profilePic{
    background-image: url(../images/bio/profilePic.jpg);
    background-repeat: no-repeat;
    background-size: 200%; 
    background-position: -90px -40px;
    overflow: hidden;
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    width: 200px;
    height: 200px;
    border-radius: 150px;
}

.profileName{
    font-size: clamp(1.5625rem, 1.4803rem + 0.6579vw, 3.125rem);
    margin-top: 10px;
    margin-left: 92.5px;
}

.socials{
    margin-top: 5px;
    margin-left: 165px;
}

.socialIcons{
    margin-top: 7.5px;
    margin-left: 142px;
}

.socialLink{
    display: inline-block;
    list-style: none;
    height: clamp(15px, 25px, 30px);
    width: clamp(15px, 25px, 30px);
    margin-left: 22.5px;
    margin-bottom: 100px;
}

/* position and appearance for content on right side */
#contentRight{
    margin-top: -475px;
    margin-left: 440px;
    margin-right: 150px;
    margin-bottom: 50px;
}

#contentRight>h1{
    font-size: clamp(1.5625rem, 1.4803rem + 0.6579vw, 3.125rem);
}

#contentRight>p{
    font-size: clamp(0.625rem, 0.5428rem + 0.6579vw, 2.1875rem);
}


/* positions and appearance of left and right size when narrowed */
@media(max-width: 1000px){
    .profilePic{
        margin-inline: auto;
        margin-top: 20px;
    }

    .profileName{
        margin-left: 10px;
        text-align: center;
    }

    .socials,.socialIcons,.socialLink{
        display: none;
    }

    #contentRight{
        width: 90%;
        margin-top: 30px;
        margin-left: 5%;
        margin-bottom: 50px;
        text-align: center;
    }
}