*{
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-style: italic;
}

/* position of main container*/
#container{
    margin-top: 100px;
    padding: 5% 5% 15% 5%;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* animations for sliding of text */
@keyframes slideRight{
    0%{
        margin-left: 200%;
    }
    65%{
        margin-left: 120%;
    }
    100%{
       margin-left: 65%;
    }
}

@keyframes appear{
    0%{
        color: rgba(0, 0, 0, 0.01);
    }
    100%{
        color: rgb(0, 0, 0);
    }
}

/* position of text on each sides */
#contentLeft{
    animation: appear 5s 1;
    font-size: 25px;
    padding-left: 10%;
    margin-right: 45%; 
}

#contentLeft>#title{
    font-size: clamp(1.5625rem, 1.4474rem + 0.9211vw, 3.75rem);
}

#contentLeft>p{
    font-size: clamp(0.625rem, 0.5592rem + 0.5263vw, 1.875rem);
}

#contentRight{
    animation: slideRight 2.5s 1;
    font-size: clamp(0.375rem, 0.2961rem + 0.6316vw, 1.875rem);
    margin-left: 65%;
    margin-top: -125px;
    justify-content: center;
    align-items: center;
}

/* removed dot on list */
.contactLinks{
    list-style: none;
}

/* position and appearance for link icon */
.contactLink{
    width: clamp(0.625rem, 0.5263rem + 0.7895vw, 2.5rem);
    margin-top: 25px;
    margin-bottom: -5px;
    margin-right: 5px;
}