*{
    outline: 0px solid black;
}

body{
    height: 100vh;
}

footer{
    background-color: inherit;
    box-shadow: -1px -1px 5px rgb(200, 200, 200);
    padding-top: 15px;
    position: sticky;
    top: 90vh;
}

/* appearance of icons */
#iconList{
    background-color: inherit;
    width: 100%;
    height: 12%;
    position: sticky;
    margin-top: -5px;
    margin-left: -15px;
}

.icons{
    height: clamp(1.5625rem, 1.4803rem + 0.6579vw, 3.125rem);
    width: clamp(1.5625rem, 1.4803rem + 0.6579vw, 3.125rem);

    list-style: none;
    margin: 0px 50%;
}

/* standard position of icons */
#instagram,#facebook,#phone,#email{
    padding: 0px 0px;
    position: absolute;
    top: 10%;
}

#instagram{
    left: -4.5vw;
}

#facebook{
    left: -1.5vw;
}

#phone{
    left: 1.25vw;
}

#email{
    padding-top: 0.5vh;
    left: 4.25vw;
}

/* change of icons when hovering */
#instagramIcon:hover{
    content: url(../images/icons/instagramA.svg);
}

#facebookIcon:hover{
    content: url(../images/icons/facebookA.svg);
}

#phoneIcon:hover{
    content: url(../images/icons/phoneA.svg);
}

#emailIcon:hover{
    content: url(../images/icons/emailA.svg);
}

/* position of bottom info */
.bottomInfo{
    position: sticky;
    top: 93vh;
    text-align: center;
    font-size: clamp(0.875rem, 0.8553rem + 0.1579vw, 1.25rem);
    color: gray;
    margin-top: 45px;
}

.bottomLink{
    text-decoration: none;
    color: gray;
}

.bottomLink:hover{
    text-decoration: underline;
    color: rgb(150, 150, 150);
}

#MJLink{
    text-align: center;
}

/* position of icons when screeen is narrowed */
@media(max-width: 1250px){
    #instagram{
        left: -7.5vw;
    }
    
    #facebook{
        left: -2.5vw;
    }
    
    #phone{
        left: 2.25vw;
    }
    
    #email{
        padding-top: 0.5vh;
        left: 7.25vw;
    }
}

@media(max-width: 650px){
    #instagram{
        left: -9.5vw;
    }
    
    #facebook{
        left: -3.5vw;
    }
    
    #phone{
        left: 3.25vw;
    }
    
    #email{
        padding-top: 0.5vh;
        left: 9.25vw;
    }
}

@media(max-width: 500px){
    #instagram{
        left: -15.5vw;
    }
    
    #facebook{
        left: -5.5vw;
    }
    
    #phone{
        left: 5.25vw;
    }
    
    #email{
        padding-top: 0.5vh;
        left: 15.25vw;
    }
}