*{
    outline: 0px solid black;
}

/* appearance of icons */
#iconList{
    background-color: inherit;
    width: 100%;
    height: 12%;
    position: absolute;
    top: 86%;
}

.icons{
    height: 30px;
    width: 30px;
    list-style: none;
    margin: 0px 50%;
}

/* standard position of icons */
#instagram,#facebook,#phone,#email{
    padding: 0px 0px;
    position: absolute;
    top: 10%;
}

#instagram{
    left: -6%;
}

#facebook{
    left: -2%;
}

#phone{
    left: 2%;
}

#email{
    padding-top: 2.5px;
    left: 6%;
}

/* change of icons when hovering */
#instagramIcon:hover{
    content: url(../images/icons/instagramA.svg);
}

#facebookIcon:hover{
    content: url(../images/icons/facebookA.svg);
}

#phoneIcon:hover{
    content: url(../images/icons/phoneA.svg);
}

#emailIcon:hover{
    content: url(../images/icons/emailA.svg);
}

/* position of bottom info */
.bottomInfo{
    position: absolute;
    top: 92.5%;
    left: 46.75%;
    text-align: center;
    font-size: 14px;
}

.bottomLink{
    text-decoration: none;
    color: black;
}

.bottomLink:hover{
    text-decoration: underline;
}

#MJLink{
    position: absolute;
    left: 25%;
}


/* positions of icons,bottom info when width is narrowed */
@media(max-width: 1000px){
    #instagram{
        left: -7%;
    }
    
    #facebook{
        left: -2.5%;
    }
    
    #phone{
        left: 2.5%;
    }
    
    #email{
        padding-top: 2.5px;
        left: 7%;
    }

    .bottomInfo{
        left: 43.5%;
    }
}

@media(max-width: 800px){
    #instagram{
        left: -9%;
    }
    
    #facebook{
        left: -3%;
    }
    
    #phone{
        left: 3%;
    }
    
    #email{
        padding-top: 2.5px;
        left: 9%;
    }

    .bottomInfo{
        left: 42%;
    }
}

@media(max-width: 650px){
    #instagram{
        left: -10%;
    }
    
    #facebook{
        left: -3.5%;
    }
    
    #phone{
        left: 3.5%;
    }
    
    #email{
        padding-top: 2.5px;
        left: 10%;
    }

    .bottomInfo{
        left: 41%;
    }
}

@media(max-width: 550px){
    #instagram{
        left: -12%;
    }
    
    #facebook{
        left: -4%;
    }
    
    #phone{
        left: 4%;
    }
    
    #email{
        padding-top: 2.5px;
        left: 12%;
    }

    .bottomInfo{
        left: 39%;
    }
}

@media(max-width: 450px){
    .bottomInfo{
        left: 36%;
    }
}

@media(max-width: 400px){
    #instagram{
        left: -15%;
    }
    
    #facebook{
        left: -5%;
    }
    
    #phone{
        left: 5%;
    }
    
    #email{
        padding-top: 2.5px;
        left: 15%;
    }

    .bottomInfo{
        left: 34%;
    }
}

@media(max-width: 350px){
    #instagram,#facebook,#phone,#email{
        top: 1%;
    }

    #instagram{
        left: -20%;
    }
    
    #facebook{
        left: -7%;
    }
    
    #phone{
        left: 7%;
    }
    
    #email{
        padding-top: 2.5px;
        left: 20%;
    }

    .bottomInfo{
        top: 92%;
        left: 28%;
    }
}


/* positions of icons,bottom info when width is wider */
@media(min-width: 1100px){
    .bottomInfo{
        left: 44%;
        font-size: 15px;
    }
}

@media(min-width: 1200px){
    .bottomInfo{
        left: 44.5%;
        font-size: 15px;
    }
}

@media(min-width: 1400px){
    .bottomInfo{
        left: 45.25%;
        font-size: 15px;
    }
}

@media(min-width: 1600px){
    .bottomInfo{
        left: 46%;
        font-size: 15px;
    }
}

@media(min-width: 1700px){
    .bottomInfo{
        left: 46%;
        font-size: 16px;
    }
}

@media(min-width: 1800px){
    .icons{
        height: 35px;
        width: 35px;
    }

    .bottomInfo{
        left: 46%;
        font-size: 17px;
    }
}

@media(min-width: 1900px){
    .icons{
        height: 35px;
        width: 35px;
    }

    .bottomInfo{
        left: 46%;
        font-size: 18px;
    }
}

@media(min-width: 2000px){
    .icons{
        height: 35px;
        width: 35px;
    }

    .bottomInfo{
        left: 46%;
        font-size: 19px;
    }
}

@media(min-width: 2100px){
    .icons{
        height: 40px;
        width: 40px;
    }

    .bottomInfo{
        left: 46%;
        font-size: 20px;
    }
}

@media(min-width: 2400px){
    .icons{
        height: 40px;
        width: 40px;
    }

    .bottomInfo{
        left: 46.5%;
        font-size: 20px;
    }
}

@media(min-width: 2800px){
    .icons{
        height: 50px;
        width: 50px;
    }

    .bottomInfo{
        left: 46.5%;
        font-size: 22px;
    }
}

@media(min-width: 3500px){
    .icons{
        height: 60px;
        width: 60px;
    }

    .bottomInfo{
        left: 46.5%;
        font-size: 30px;
    }
}