*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(35, 35, 35);
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-style: italic;
}

/* position and appearance of links */
#galleryLinks{
    width: 100%;
    padding: 15% 10% 5% 10%;
    padding-top: 15vh;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

.linkBackground{
    display: inline-block;
    /*clip-path:polygon(0 50%, 50% 100%,100% 50%,50% 0);*/
    text-align: center;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 15px;
    height: clamp(4.375rem, 2.6316rem + 13.9474vw, 37.5rem);
    width: clamp(4.375rem, 2.6316rem + 13.9474vw, 37.5rem);
    margin: 15px 15px;   
}

.linkBackground:hover{
    animation: focus 1.5s 1;  
    transform: scale(1.25);
}

#trees{
    background: url(../images/main/background4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#test{
    background: url(../images/main/background5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.subGalleryLink{
    position: relative;
    top: 40%;
    color: whitesmoke;
    font-weight: bold;
    font-size: clamp(0.3125rem, 0.0822rem + 1.8421vw, 4.6875rem);
    text-shadow: 3px 2px 1px black;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    text-align: center; 
}

.subGalleryLink:hover{
    animation: focusText 1s 1;
    text-shadow: 3px 2px 1px black, 4px 3px 20px black;
}

/* focusing animation when hover */
@keyframes focus{
    from {
        transform: scale(1);
        background-position: 25% 0%;
    } 

    to{
        transform: scale(1.25);
        background-position: center;
    }
}

@keyframes focusText{
    from {
        text-shadow: 3px 2px 1px black;
    } 

    to{
        text-shadow: 3px 2px 1px black, 4px 3px 20px black;
    }
}