*{
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-style: italic;
}

.cover{
    background-color: rgb(225, 225, 225);
    box-shadow: 3px 3px 10px gray;
    position: absolute;
    top: 13%;
    height: 69%;
    width: 100%;
    max-width: 100%;
    color: white;
}

#photos{
    position: absolute;
    top: 1%;
    left: 5%;
    height: 98%;
    width: 90%;
    background-image: url(../images/main/background1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto; 
    background-position: center;
    overflow: hidden;
    text-align: center;
    animation: change 90s infinite ease-in-out;
}

@keyframes change{
    0%
    {
        background-image: url(../images/main/background1.jpg);
    }
    10%
    {
        background-image: url(../images/main/background2.jpg);
    }
    20%
    {
        background-image: url(../images/main/background3.jpg);
    }
    30%
    {
        background-image: url(../images/main/background4.jpg);
    }
    40%
    {
        background-image: url(../images/main/background5.jpg);
    }
    50%
    {
        background-image: url(../images/main/background6.jpg);
    }
    60%
    {
        background-image: url(../images/main/background7.jpg);
    }
    70%
    {
        background-image: url(../images/main/background8.jpg);
    }
    80%
    {
        background-image: url(../images/main/background9.jpg);
    }
    90%
    {
        background-image: url(../images/main/background1.jpg);
    }
}

@keyframes appear{
    0%{
        color: rgba(255, 255, 255, 0.01);
        text-shadow: none;
    }
    100%{
        color: rgba(255, 255, 255, 1);
    }
}

h1{
    animation: appear 10s 1;
    font-size: 75px;
    font-weight: bold;
    text-shadow: 2px 2px 1px black, 3px 3px 1px black, 4px 4px 1px black, 5px 5px 1px black, 6px 6px 1px black;
    line-height: 65vh;
    text-align: center;
}

@media(max-width: 4000px){
    #photos{
        left: 5%;
        width: 90%;
    }

    h1{
        font-size: 150px;
    }
}

@media(max-width: 3500px){
    #photos{
        left: 5%;
        width: 90%;
    }

    h1{
        font-size: 140px;
    }
}

@media(max-width: 3000px){
    #photos{
        left: 5%;
        width: 90%;
    }

    h1{
        font-size: 120px;
    }
}

@media(max-width: 2500px){
    #photos{
        left: 5%;
        width: 90%;
    }

    h1{
        font-size: 120px;
    }
}

@media(max-width: 2100px){
    #photos{
        left: 7.5%;
        width: 85%;
    }
}

@media(max-width: 1500px){
    #photos{
        left: 9%;
        width: 82%;
    }

    h1{
        font-size: 100px;
    }
}

@media(max-width: 1400px){
    #photos{
        left: 10%;
        width: 80%;
    }
}

@media(max-width: 1300px){
    #photos{
        left: 7.5%;
        width: 85%;
    }
}

@media(max-width: 1200px){
    #photos{
        left: 7.5%;
        width: 85%;
    }
    h1{
        font-size: 95px;
    }
}

@media(max-width: 1100px){
    #photos{
        left: 7.5%;
        width: 85%;
    }

    h1{
        font-size: 85px;
    }
}

@media(max-width: 1000px){
    #photos{
        left: 7.5%;
        width: 85%;
    }

    h1{
        font-size: 70px;
    }
}

@media(max-width: 800px){
    #photos{
        left: 7.5%;
        width: 85%;
    }

    h1{
        font-size: 60px;
    }
}

@media(max-width: 700px){
    h1{
        font-size: 50px;
    }
}

@media(max-width: 600px){
    h1{
        font-size: 40px;
    }
}

@media(max-width: 500px){
    h1{
        font-size: 37.5px;
    }
}

@media(max-width: 450px){
    h1{
        font-size: 30px;
    }
}

@media(max-width: 355px){
    h1{
        font-size: 25px;
    }
}

@media(max-width: 300px){
    h1{
        font-size: 20px;
    }
}