*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0px solid black;
}

/* position of header */
.header{
    background-color: inherit;
    box-shadow: 1px 1px 10px gray;
    position: absolute;
    top: 0px;
    height: 7.5%;
    min-height: 75px;
    width: 100%;
}

/* position of button backToGallery + appearance of button */
#backToGallery{
    position: absolute;
    top: 0%;
    margin-left: 5%;
    display: block;
}

#backToGallery>a{
    background: transparent;
    color: rgb(110, 110, 110);
}

#backToGallery>a:hover{
    color: rgb(160, 160, 160);
}

/* position of buttons: bio,gallery,contact + position of logo */
#home{
    position: absolute;
    top: 0%;
    right: 50%;
}

#bio{
    position: absolute;
    top: 0%;
    right: 39%;  
}

#gallery{
    position: absolute;
    top: 0%;
    right: 29.5%;
}

#contact{
    position: absolute;
    top: 0%;
    right: 20%;
}

a>#logoTop{
    height: 90%;
    width: auto;
    margin-top: 150px;
    margin: 1px 50px;
    padding: 0px 50px;
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 15%;  
}

/* appearance of button */
.btn{
    padding: 12.5px;
    margin: 10px auto;
    margin-left: 225px;
    background: transparent;
    border-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

/* appearance of text in button (link) */
.btn>a{
    padding: 5px;
    margin: 0 30px;
    font-family: 'Lucida Grande';
    font-size: 15px;
    font-weight: bold;
    color: rgb(110, 110, 110);
    text-shadow: 0px 0px 0px gray;
    text-decoration: none;
    text-transform: uppercase;
}

.btn>a:hover{
    color: rgb(160, 160, 160);
}

/* appearance of toggle button (hamburger :D ) */
#toggle-button{
    position: absolute;
    top: 26.5%;
    right: 3%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 30px;
}

#toggle-button>.bar{
    height: 5px;
    width: 100%;
    background-color: black;
    box-shadow: -1px -1px 1px whitesmoke, 1px 1px 1px whitesmoke, 1px -1px 1px whitesmoke, -1px 1px 1px whitesmoke;
    border-radius: 10px;
}

/* removing buttons when too narrow, showing toggle button */
@media(max-width: 1050px){
    .btn{
        display: none;
    }
    
    .active{
        z-index: 1000;
        padding: 0.5px 0px;
        display: flex;
    }

    .btn>a{
        background-color: rgb(185, 185, 185);
        color: rgb(250, 250, 250);
    }

    #home,#bio,#gallery,#contact{
        background-color: rgb(195, 195, 195);
        background-color: rgba(195, 195, 195, 0.95);
        width: 100%;
        border: 1px solid black;
        border-radius: 0px;
        position: fixed; 
        top: 11.5%;
        justify-content: center;
        right: 0%;
    }

    #bio{
        top: 16.5%;
    }

    #gallery{
        top: 21.5%;
    }

    #contact{
        top: 26.5%;
    }

    #toggle-button{
        display: flex;
    }

    a>#logoTop{
        position: absolute;
        top: 0%;
        left: 0%;
        padding: auto;
    }
}


/* Updating size of buttons in navBar*/
@media(min-width: 2000px){
    .btn>a{
        font-size: 17.5px;
    }  
}

@media(min-width: 2400px){
    .btn>a{
        font-size: 20px;
    }  
}

@media(min-width: 2800px){
    .btn>a{
        font-size: 25px;
    }  
}

@media(min-width: 3200px){
    .btn>a{
        font-size: 30px;
    }  
}

@media(min-width: 3600px){
    .btn>a{
        font-size: 35px;
    }  
}